#!/bin/bash

export mode=production
export DATABASE__NAME=testmgmt
export DATABASE__USER=testmgmtadmin
export DATABASE__PASSWORD=testmgmtadmin@123
export DATABASE__HOST=localhost
export DATABASE__PORT=5432

cd test_mgmt
python3 manage.py shell -c "from create_super_user import create_super_user; create_super_user()"
python3 manage.py shell -c "from api.models import create_default_configuration; create_default_configuration()"
cd ..
