<html>
<head>
    <title>
        {{config_name}}
    </title>
</head>
<body>
<h1>Welcome to {{config_name}}</h1>
<br/>click on <a href="{{base_url}}/admin">this link</a> for admin site.
<br/>click on <a href="{{base_url}}/swagger">this link</a> for swagger.
<br/>click on <a href="{{base_url}}/api">this link</a> for general browsable API.
<br/>click on <a href="{{base_url}}/business/api">this link</a> for business module browsable API.
<br/>click on <a href="{{base_url}}/people/api">this link</a> for people module browsable API.
<br/>click on <a href="{{base_url}}/siteconfig/api">this link</a> for siteconfig module browsable API.
<br/>click on <a href="{{base_url}}/siteconfig/api/site_details">this link</a> for all site details API.
<br/>click on <a href="{{base_url}}/siteconfig/api/default_site_details">this link</a> for default site details API.
<br/>click on <a href="{{base_url}}/requirements/api">this link</a> for requirements module browsable API.
<br/>click on <a href="{{base_url}}/workitems/api">this link</a> for workitems module browsable API.
<br/>click on <a href="{{base_url}}/testdesign/api">this link</a> for testdesign module browsable API.
<br/>click on <a href="{{base_url}}/automation/api">this link</a> for automation module browsable API.
<br/>click on <a href="{{base_url}}/execution/api">this link</a> for execution module browsable API.
<br/>click on <a href="{{base_url}}/execution/api/ipte/ipte_for_iterations">this link</a> for calculating reliability IPTE.
<br/>click on <a href="{{base_url}}/execution/api/ipte/iterations_for_ipte">this link</a> for calculating iterations for required
reliability IPTE.
</body>
</html>