<html>
<head>
    <title>
        Shani
    </title>
</head>
<body>
<h1>Welcome to Shani Test Management</h1>
<br/>click on <a href="/admin">this link</a> for admin site.
<br/>click on <a href="/swagger">this link</a> for swagger.
<br/>click on <a href="/api">this link</a> for general browsable API.
<br/>click on <a href="/siteconfig/api">this link</a> for siteconfig module browsable API.
<br/>click on <a href="/siteconfig/api/site_details">this link</a> for site details API.
<br/>click on <a href="/requirements/api">this link</a> for requirements module browsable API.
<br/>click on <a href="/workitems/api">this link</a> for workitems module browsable API.
<br/>click on <a href="/testdesign/api">this link</a> for testdesign module browsable API.
<br/>click on <a href="/automation/api">this link</a> for automation module browsable API.
<br/>click on <a href="/execution/api">this link</a> for execution module browsable API.
</body>
</html>